<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<div th:if="${isLoggedIn}">
    <p>Welcome, <span th:text="${login}">User</span>!</p>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
</div>
<div th:if="${!isLoggedIn}">
    <!--    <p>Please <a href="/login">login</a></p>-->
    <form action="/signin" method="post">
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>