<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Locations</title>
</head>
<body>

<div th:if="${login != null}">
    <p>Welcome, <span th:text="${login}">User</span>!</p>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>

    <h2>Weather Information for <span th:text="${city_name}">city</span></h2>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="weather : ${weathers}">
            <td th:text="${weather.name}">Name</td>
            <td th:text="${weather.country}">Country</td>
            <td>
                <form action="/locations" method="post">
                    <input type="hidden" name="lat" th:value="${weather.lat}">
                    <input type="hidden" name="lon" th:value="${weather.lon}">
                    <input type="hidden" name="name" th:value="${weather.name}">
                    <button type="submit">Add to favorites</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${login == null}">
    <form action="/sign-in" method="get">
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>