<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

</head>
<body>

<form th:action="@{/sign-up}" method="post">
    <div th:if="${param.error}" style="color: red;">
        Login is already in use
    </div>
    <label for="login">Username:</label>
    <input type="text" id="login" name="login" required><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>
    <input type="submit" value="Вход">
</form>
</body>
</html>